# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/nooter contract


# next.js
/.next/
/out/
/pages/  # Explicitly ignore pages directory as we're using app router

# production
/build

# misc
.DS_Store
*.pem
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
nooter contract/contracts/Lock.sol
nooter contract/contracts/MultiFarmSwap.sol
nooter contract/contracts/noot.sol
nooter contract/contracts/WNOOT.sol
nooter contract/create-args.js
nooter contract/deploy/deploy-noot.ts
nooter contract/deploy/deploy.ts
nooter contract/deployments-zk/abstractTestnet/.chainId
nooter contract/deployments-zk/abstractTestnet/contracts/FarmSwap.sol/FarmSwap.json
nooter contract/deployments-zk/abstractTestnet/contracts/noot.sol/Noot.json
nooter contract/flattened-noot.sol
nooter contract/hardhat.config.ts
nooter contract/ignition/modules/Lock.ts
nooter contract/package-lock.json
nooter contract/package.json
nooter contract/README.md
nooter contract/scripts/deploy-all-farm-tokens.ts
nooter contract/scripts/deploy-farm-token.ts
nooter contract/scripts/deploy-farmswap-update.ts
nooter contract/scripts/deploy-milk-token.ts
nooter contract/scripts/deploy-multi-farm-swap.ts
nooter contract/scripts/deploy-new.ts
nooter contract/scripts/deploy-noot.ts
nooter contract/scripts/deploy-wheat-token.ts
nooter contract/scripts/deploy.ts
nooter contract/scripts/direct-transfer-noot.ts
nooter contract/scripts/fund-new-farmswap.ts
nooter contract/scripts/fund-noot-contract.ts
nooter contract/scripts/verify-farm-swap.ts
nooter contract/scripts/verify-farmswap.ts
nooter contract/test-verify/abstract.sh
nooter contract/test-verify/cache-zk/solidity-files-cache.json
nooter contract/test-verify/contracts.txt
nooter contract/test-verify/contracts/HelloAbstract.sol
nooter contract/test-verify/contracts/Lock.ts
nooter contract/test-verify/deploy/deploy.ts
nooter contract/test-verify/generate.js
nooter contract/test-verify/hardhat.config.js
nooter contract/test-verify/hardhat.config.ts
nooter contract/test-verify/Lock.ts
nooter contract/test-verify/package-lock.json
nooter contract/test-verify/package.json
nooter contract/test-verify/scripts/deploy.ts
nooter contract/test/Lock.ts
nooter contract/tsconfig.json
abstract-fullstack-starterpack-master/app/globals.css
abstract-fullstack-starterpack-master/artifacts-zk/contracts/Greeter.sol/Greeter.json
abstract-fullstack-starterpack-master/artifacts-zk/contracts/Greeter.sol/Greeter.json
/abstract-fullstack-starterpack-master
nooter contract/.deployment-info.json
context.7z
gm.7z
nooter contract/contracts/HelloAbstract.sol
nooter contract/contracts/FarmToken.sol
nooter contract/contracts/FarmSwap.sol
nooter contract/contracts.txt
nooter contract/cache-zk/validations.json
nooter contract/cache-zk/solidity-files-cache.json
nooter contract/artifacts-zk/contracts/WNOOT.sol/WNoot.json
nooter contract/artifacts-zk/contracts/WNOOT.sol/WNoot.dbg.json
nooter contract/artifacts-zk/contracts/noot.sol/Noot.json
nooter contract/artifacts-zk/contracts/noot.sol/Noot.dbg.json
nooter contract/artifacts-zk/contracts/MultiFarmSwap.sol/MultiFarmSwap.json
nooter contract/artifacts-zk/contracts/MultiFarmSwap.sol/MultiFarmSwap.dbg.json
nooter contract/artifacts-zk/contracts/Lock.sol/Lock.json
nooter contract/artifacts-zk/contracts/Lock.sol/Lock.dbg.json
nooter contract/artifacts-zk/contracts/HelloAbstract.sol/HelloAbstract.json
nooter contract/artifacts-zk/contracts/HelloAbstract.sol/HelloAbstract.dbg.json
nooter contract/artifacts-zk/contracts/FarmToken.sol/FarmToken.json
nooter contract/artifacts-zk/contracts/FarmToken.sol/FarmToken.dbg.json
nooter contract/artifacts-zk/contracts/FarmSwap.sol/FarmSwap.json
nooter contract/artifacts-zk/contracts/FarmSwap.sol/FarmSwap.dbg.json
nooter contract/artifacts-zk/build-info/c159ee00473647e9749551f5317a50bb.json
nooter contract/artifacts-zk/@openzeppelin/contracts/utils/Context.sol/Context.json
nooter contract/artifacts-zk/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
nooter contract/artifacts-zk/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.json
nooter contract/artifacts-zk/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.dbg.json
nooter contract/artifacts-zk/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol/IERC20Metadata.json
nooter contract/artifacts-zk/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol/IERC20Metadata.dbg.json
nooter contract/artifacts-zk/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.json
nooter contract/artifacts-zk/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.dbg.json
nooter contract/artifacts-zk/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC721Errors.json
nooter contract/artifacts-zk/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC721Errors.dbg.json
nooter contract/artifacts-zk/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC20Errors.json
nooter contract/artifacts-zk/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC20Errors.dbg.json
nooter contract/artifacts-zk/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC1155Errors.json
nooter contract/artifacts-zk/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC1155Errors.dbg.json
nooter contract/artifacts-zk/@openzeppelin/contracts/access/Ownable.sol/Ownable.json
nooter contract/artifacts-zk/@openzeppelin/contracts/access/Ownable.sol/Ownable.dbg.json
nooter contract/arguments.js
nooter contract/abstract.sh
nooter contract/abstract-fullstack-starterpack-master/yarn.lock
nooter contract/abstract-fullstack-starterpack-master/utils/index.ts
nooter contract/abstract-fullstack-starterpack-master/tsconfig.json
nooter contract/abstract-fullstack-starterpack-master/scripts/deploy.ts
nooter contract/abstract-fullstack-starterpack-master/README.md
nooter contract/abstract-fullstack-starterpack-master/postcss.config.mjs
nooter contract/abstract-fullstack-starterpack-master/package.json
nooter contract/abstract-fullstack-starterpack-master/package-lock.json
nooter contract/abstract-fullstack-starterpack-master/next.config.ts
nooter contract/abstract-fullstack-starterpack-master/hardhat.config.ts
nooter contract/abstract-fullstack-starterpack-master/eslint.config.mjs
nooter contract/abstract-fullstack-starterpack-master/contracts/Greeter.sol
nooter contract/abstract-fullstack-starterpack-master/components/Container.tsx
nooter contract/abstract-fullstack-starterpack-master/artifacts-zk/contracts/Greeter.sol/Greeter.json
nooter contract/abstract-fullstack-starterpack-master/app/page.tsx
nooter contract/abstract-fullstack-starterpack-master/app/layout.tsx
nooter contract/abstract-fullstack-starterpack-master/app/globals.css
nooter contract/abstract-fullstack-starterpack-master/app/favicon.ico
nooter contract/.noot-address
nooter contract/abstract-fullstack-starterpack-master/artifacts-zk/contracts/Greeter.sol/Greeter.json
nooter contract/abstract-fullstack-starterpack-master/artifacts-zk/contracts/Greeter.sol/Greeter.json
nooter contract/abstract-fullstack-starterpack-master/artifacts-zk/contracts/Greeter.sol/Greeter.json
/backup old version
/temp-agar-clone
.env
.env
docs/error-fixes-summary.md
SOCIAL_FEED_ERROR_FIX.md
.env
DEPLOYMENT-INSTRUCTIONS.md
